/* navbar */

.upper-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: .5px solid rgba(128, 128, 128, 0.306);
    padding: 0 100px;
}
.logo{
    width: 130px;
}
.lower-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: .5px solid rgba(128, 128, 128, 0.306);
    padding: 8px 100px;
}
.lower-nav  a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.active{
    color: blue;
}
.navitem{
    display: flex;
    align-items: center;
    gap: 5px;
}
.logoutBtn{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.logoutBtn p{
    font-weight: 600;
}


/* navbar end  */
/* ================================== */

/* ItemActionBtn */
.ItemActionBtnContainer{
    width: 100px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.alert-logo{
    width: 20px;
}
.alert-logo-plane{
    width: 20px;
    padding: 5px;
    margin-right: 9px;
    border-radius: 20px;
}
.edit-logo{
    width: 20px;
    padding: 5px;
    border-radius: 20px;
}
.edit-logo:hover{
    background-color: white;
    width: 20px;
    padding: 5px;
    border-radius: 20px;
}
.delete-logo{
    width: 20px;
    padding: 5px;
    border-radius: 20px;
}
.delete-logo:hover{
    background-color: rgba(217, 33, 33, 0.568);
    width: 20px;
    padding: 5px;
    border-radius: 20px;
}


/* ItemActionBtn end */
/* ========================= */

/* Action bar */

.actionBarContainer{
    margin-top: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
    
}

.atiBtn{
    background-color: rgb(11, 123, 167);
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}
.delBtn{
    color: rgb(115, 115, 115);
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    border: .5px solid rgba(115, 115, 115, 0.573);
    cursor: pointer;
}
.lowstockBtn{
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    color: rgb(167, 16, 11);
    border: 1px solid rgb( 167,16, 11) ;
    cursor: pointer;
}
.lowstockBtnCross{
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    background-color: rgb(11, 167, 45);
    color: white;
    border: 1px solid rgb(11, 167, 45) ;
    cursor: pointer;
}
.lowstockBtnCross span{
    color: red;
    font-weight: bolder;
}

/* action bar end */

.adjustStockBtn{
    background-color: rgb(41, 162, 210);
    color: white;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 500;
    cursor: pointer;
}